<h1>Showing Students For <%= @teacher_class.name %></h1>

<%= render partial: "students" %>

<%= link_to "Add Student",  new_teacher_class_student_path(@teacher_class) %><br/>

<%= link_to "Back", :back %>